@import "../../../Styles/App.css";
.cta {
    background-color: #7682ff;
    color: white;
    padding: 30px 20px 0px;
}

div {
    display: block;
}

.content {
    display: flex;
    flex-direction: row;
}

p {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 8px;
}

h6 {
    color: black;
    font-size: 18px;
    line-height: 16px;
}

.pbody {
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    padding-left: 25px;
}

.pTitle {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

h2 {
    color: black;
    font-size: 32px;
    line-height: 16px;
}

ul {
    list-style-type: none;
    margin-left: 10px;
}

ul li h6 {
    margin-bottom: 12px;
    margin-left: -10px;
    display: flex;
    align-items: center;
}

ul li h6::before {
    color: transparent;
    font-size: 1px;
    content: " ";
    margin-left: -1.3em;
    margin-right: 15px;
    padding: 10px;
    background-color: green;
    -webkit-mask-image: url("../../../Assets/circle-check-solid.svg");
    -webkit-mask-size: cover;
}

@media screen and (max-width:680px) {
    .content {
        flex-direction: column;
    }
    
    h2 {
        line-height: 30px;
    }
}