@import "../../../Styles/App.css";
.hero-area {
  padding-top: 4rem;
  height: 100vh !important;
  /* background-color: var(--primary-color); */
  background-image: url("../../../Assets/b2.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fff;
}

.text-section{
  background-color: rgba(60, 1, 1, 0.5);
  
}
.hero-left,
.hero-right {
  height: 100vh !important;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  /* align-content: flex-end; */
}

.hero-title {
  font-size: var(--super-header-font-size);
  font-weight: 900;
  font-family: var(--Nunito);
  width: 50rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.discription {
  display: inline-flex;
  margin-bottom: 1rem;
}
.dec-bar {
  border: 8px solid rgba(255, 175, 54, 0.8);
}
.hero-Des {
  font-size: var(--header-font-size) !important;
  font-weight: 900;
  font-family: var(--Nunito);
  width: 27rem;
  line-height: 1.1;

  margin-left: 1rem;
}

.framperson {
  position: absolute;
  z-index: 20;
  margin-top: 3.3vw;
  width: 30vw;
}
.personi {
  position: relative;
  width: 26vw;
  z-index: 6;
  margin-top: 11vw;
  margin-left: 3vw;
}
/* media queries */
@media only screen and (max-width: 768px) {
  .hero-area {
    height: 75vh !important;
  }
  .hero-right {
    display: none;
  }
  .hero-left {
    height: 60vh !important;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex-wrap: nowrap;
    align-items: center;
  }
  .hero-title {
    font-size: 2rem;
    font-weight: 800;
    font-family: var(--Nunito);
    width: 21rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
  }
  .hero-Des {
    font-size: 1.3rem !important;
    font-weight: 600;
    font-family: var(--Nunito);
    width: 18rem;
    line-height: 1.1;
    margin-left: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-right {
    display: none;
  }
}
