@import "../../../Styles/App.css";
.nav-media {
  padding-left: 2rem;
  color: green;
}

@media (max-width: 768px) {
  .nav-media {
    padding-left: 1rem;
  }
}
.navbar {
  /* background-color: var(--primary-color); */
  background-color:purple;
}

.navbar.colorChange {
  background-color: #000;
}
.links{
  margin-right: 2rem;
  color:white;
  font-family: var(--Poppins);
  font-weight: 200;
  text-decoration: none;
 
}
links:hover{
  color: black;
}

.logo{
  text-decoration: none;
  font-weight: 800;
  color: white;
}