@import "../../../Styles/App.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@keyframes backgroundColorPalette {
    0% {
        background: #00b8a2;

      }
      /* 25% {
        background: #60d394;
      } */
      /* 50% {
        background: #aaf683;
      } */
      50% {
        background: #5463ff;
      }
      100% {
        background: #fabb04;
      }
  }

  .header {
     animation-name: backgroundColorPalette;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */

    height: 100vh;
    display: flex;
    /* position: relative; */
  }
  .header .heading{
    font-family: 'Lobster', cursive;  
    font-size: 3rem; 
  }
 

  
  .row {
    padding: 100px 30px;  
    display: flex;  
    color: black;
  }
  .col{
    float: left;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .col2{
      padding: 5px;
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  /* media queries */
  @media screen and (max-width: 767px) {
    .header .heading{
      
      font-size: 2rem; 
    }
    
  }
  @media screen and (max-width: 600px) {
    .header{
      height:70vh;
    }
    .row{
      padding: 14vh 4vw;  
    }
    .col2{
      display: none;
      width: 0%;
    }
    .header .heading{
      
      font-size: 1.5rem; 
    }
    
  }
  
  