.container {
  height: 100%;
  padding-top: 15vh;
  padding-bottom: 10vh;
  min-height: 100vh;
  width: 100%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBox {
  width: 70vh;
  background-image: linear-gradient(to right,white,#E2DFD2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .error {
  font-weight: bold;
  font-size: 0.875rem;
  color: #ff3300;
  text-align: center;
}

.footer button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: left;
  color: rgb(77, 73, 73);
  border: solid 1px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  transition: 100ms;
  cursor: pointer;
}
.footer button:disabled {
  background-color: gray !important;
}

.footer button:hover {
  border-color: blue;
  background:primary;
}
.footer p {
  font-weight: 700;
  color: #000;
}

.footer p span a {
  font-weight: bold;
  color: #4d0180;
  letter-spacing: 1px;
  font-size: 1rem;
  text-decoration: none;
}
