@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
input{
    padding: 1px 20px;
    border-radius: 6px;
    width: 100%;
    border:solid grey 1px ;
}
h5{
    font-family: 'Macondo', cursive;
        font-size: medium;
}
p{
    font-family: 'Lora', serif;
        font-size: medium;
}
.info{
    justify-content: center;
    margin: auto;
    width: 80%;
    padding: 1rem;
}
.txt-ar-box{
    width: 100%;
}
.text-ar{
    padding: 4px 10px;
    border-radius: 6px;
    height: 30vh;
    width: 100%;
}
.wrapper {
    max-width: 700px;
  margin: 5% auto;
  display: grid;
  grid-gap: 0rem;
  
  }
  @media (min-width: 600px) {
    .wrapper { grid-template-columns: repeat(2, 1fr); }
    
}

.links{
    text-decoration: none;
    color: azure;
}

summary{
    display: flex;
}

summary *{
    margin: 5px;
}

summary img{
    width:50px;
}

.meetlink a{
    color: beige;
}

