/* *, *::before, *::after {
    margin: 0;
    padding: 0;
  } */

  
  .container {
    width: 100%;
    margin: 5rem auto;
  }
  
  .cards-container {
    display: flex;
    color: #333;
    /* padding: 1rem; */
    overflow-x: auto;
    position: relative;
  }
  .cards-container::-webkit-scrollbar {
    display: none;
  }
  
  .card {
    flex: 1 0 250px;
    box-shadow: 0 1px 1rem -4px #000;
    margin: 1rem;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
  .card img {
    width: 250px;
    height: 300px;
    -o-object-fit: center;
       object-fit: center;
  }
  .card:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
  
  .card-content {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    /* padding: 1rem; */
  }
  
  @media screen and (max-width: 625px) {
    .container {
      width: 100%;
    }
  
    .cards-container {
      padding: 0.5rem;
    }
  
    .card {
      margin: 0.5rem;
    }
  }